body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
header h1 {
  margin: 0;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}
.portfolio div, .blog div, .material div {
  flex: 30%;
  background-color: #eee;
  margin: 1%;
  padding: 1em;
}
.icons a {
  color: #444;
  margin: 0 1em;
  text-decoration: none;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    padding: 0;
  }

  .project {
    width: 100%;
    margin-bottom: 20px;
  }

  .icons {
    flex-direction: column;
    align-items: center;
  }
}

/* O codigo embaixo é para mexer no formato de comentarios */

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 30vw;
  min-width: 12rem;
  height: 50px;
  margin: 10px auto;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: inset 9px 9px 19px #d9d9d9, inset -9px -9px 19px
              #ffffff;
}
label {
  align-self: flex-start;
  margin-top: 1rem;
}
*:focus {
  outline: none;
  box-shadow: 0 5px 10px rgba(170, 0, 255, 0.2);
}
button {
  width: 8rem;
  margin-top: 2rem;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 7px;
  background: linear-gradient(145deg, #2798da, #274beb);
  box-shadow: 9px 9px 19px #0a0a0a, -9px -9px 19px #f0ffff;
}
button:hover {
  background: linear-gradient(145deg, #bce6d2, #e0fff9);
  box-shadow: 9px 9px 19px #b2d9c6, -9px -9px 19px #f0ffff;
}
/* textarea {
  min-width: 30vw;
  margin: 10px auto;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: inset 9px 9px 19px #d9d9d9, inset -9px -9px 19px
              #ffffff;
} */
