body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
header h1 {
  margin: 0;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}
.portfolio div, .blog div, .material div {
  flex: 30%;
  background-color: #eee;
  margin: 1%;
  padding: 1em;
}
.icons a {
  color: #444;
  margin: 0 1em;
  text-decoration: none;
  font-size: 1.5em;
}

/* @media (max-width: 600px) {
  .header {
    width: 100%;
    padding: 1em 0;
    box-sizing: border-box;
  }
} */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    padding: 0;
  }

  .project {
    width: 100%;
    margin-bottom: 20px;
  }

  .icons {
    flex-direction: column;
    align-items: center;
  }
}
