/* Criar uma base visual limpa para toda a página. */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Evitar espaçamento indesejado acima/abaixo do título, alinhando-o de forma justa ao cabeçalho. */
header h1 {
  margin: 0;
}

/* Criar uma barra de navegação no cabeçalho visualmente limpa e espaçada. */
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}

/* Criar cards responsivos em um layout flexível, com espaçamento consistente. */
/* .portfolio div, .blog div, .material div {
  flex: 30%;
  background-color: #12eb36;
  margin: 1%;
  padding: 1em;
} */
.blog, .material {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  background-color: #ffffff;
}


/* Criar ícones de redes sociais ou contato com destaque visual. */
.icons a {
  color: #1044EE;
  margin: 0 1em;
  text-decoration: none;
  font-size: 1.5em;
}

/* ################################################################################## */
/* Esse trecho define um Media Query, que ajusta o layout quando a tela for menor que 768px (tamanho típico de tablets e celulares) */
@media (max-width: 768px) {
  .header {
    background-color: #c21717;
    color: #050505;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .container {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    padding: 0;
  }

  .project {
    width: 100%;
    margin-bottom: 20px;
  }

  .icons {
    flex-direction: column;
    align-items: center;
  }
}
/* ################################################################################## */

.header {
  background-color: #c21717;
  color: #fcfcfc;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.nav {
  background-color: #486a6e;
  color: #0e0d0d;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

/* Para manter caixas alinhadas por linha */
.card {
  background-color: #c4c2c3; /* Cinza claro */
  padding: 16px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  min-height: 220px; /* Altura mínima para manter padrão */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  margin: 2em;
}



.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar {
  flex: 25%;
  background-color: #C70039;
  color: #fff;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  margin: 0em;
}

.section {
  margin-bottom: 2em;
  width: 100%;
}

.sectionTitle {
  background-color: #be6f44;
  color: #080808;
  padding: 5px 10px;
  border-radius: 5px;
}

.subSectionTitle {
  background-color: #c49249;
  color: #ffffff;
  margin: 10px 20px;
  margin-bottom: 0.5em;
  padding: 5px 10px;
  border-radius: 10px;
}

.nColumnSection {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
}

.leftColumn {
  background-color: #FBE7E5;
  width: 100%;
}

.rightColumn {
  background-color: #f0f0f0;
  width: 100%;
}

.leftColumnEvents {
  flex: 3;
  margin: 10px;
  margin-right: 10px;
  background-color: #cacaca;
  padding: 10px;
  border-radius: 5px;
}

.rightColumnEvents {
  justify-content: center;
  flex: 1;
  margin: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

.column {
  flex: 1;
  margin: 10px;
}

.imageColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
  flex: 1; /* Ocupa uma quarta parte da distribuição horizontal da coluna */
  margin: 10px;
}

.textColumn {
  flex: 3; /* Ocupa três quartas partes da distribuição horizontal da coluna */
  margin: 10px;
  background-color: #d3d3d3; /* Fundo cinza claro */
  padding: 10px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas (opcional) */
}

.project {
  flex: 1;
  margin: 10px;
  padding: 5px;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.project h4 {
  margin-top: 10px; /* Ajustar o espaçamento do topo de h4 */
}

.image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 2px solid black;
}

.imageBottle {
  display: flex;
  width: 100%;
  max-width: 100px;
  height: auto;
}

.iconsEvents {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;
}

.icons {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  align-items: stretch;
}

.icon {
  width: 50px;
  height: 50px;
}

.iconPDF {
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.link {
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 1em;
}

.textarea {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 1em;
}

.buttonPDF {
  width: 100%; /* Ocupa toda a largura do card */
  padding: 10px; /* Espaçamento interno confortável */
  background: #f39315;
  color: #b503fc;
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  font-weight: bold;
  text-align: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* Sombra leve */
  transition: background 0.3s ease-in-out;
}

.buttonPDF:hover {
  background: #bb81e7; /* Cor mais escura ao passar o mouse */
}


.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imgStyle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.socialMedia {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.socialIcon { /* controla a cor dos icones de redes sociais */
  color: #fff;
}

.bamdeiras { /* controla o posicionamento da caixa de bamdeiras de visitantes */
  text-align: center;
  margin-top: 1rem;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  box-sizing: border-box;
}

/* ################################################################################## */
/* O seguinte código é usado para estilizar a janela flutuante de visualização de PDFs */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(95, 112, 131, 0.5); /* Fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}


/* ################################################################################## */
/* O seguinte código é usado para estilizar a caixa de comentarios */
.form_wrapper { /* controla o posisionamento dos elementos dentro de section */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
form { /* controla o formato do texto fora das caixas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}
input { /* controla a apariência das caixas Nome e Email */
  width: 60vw;
  min-width: 12rem;
  height: 50px;
  margin: 10px auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: inset 9px 9px 19px #d9d9d9, inset -9px -9px 19px
              #d1cccc;
}
/* label {
  align-self: flex-start;
  margin-top: 1rem;
} */
/* *:focus {
  outline: none;
  box-shadow: 0 5px 10px rgba(170, 0, 255, 0.2);
} */
button { /* controla o estilo e as propiedades do botão */ 
  width: 60vw;
  margin-top: 0rem;
  padding: 6px;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 7px;
  background: linear-gradient(145deg, #a1764d, #f5ae14);
  box-shadow: 9px 9px 19px #888686, -9px -9px 19px #f0ffff;
}
button:hover { /* Cor mais clara ao passar o mouse */
  background: linear-gradient(145deg, #707ead, #3f42f5);
  box-shadow: 9px 9px 19px #d63fa9, -9px -9px 19px #ca99c8;
}
textarea { /* controla o estilo da caixa da Menssagem */
  min-width: 60vw;
  margin: 10px auto;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: inset 9px 9px 19px #d9d9d9, inset -9px -9px 19px
              #c5c3c3;
}
/* ################################################################################## */
